<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oit.mapper.OrderMapper">
    <insert id="insert" parameterType="Orders" useGeneratedKeys="true" keyProperty="id">
        insert into orders
        (number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status, amount, remark,
         phone, address, consignee, estimated_delivery_time, delivery_status, pack_amount, tableware_number,
         tableware_status)
        values (#{number,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT},
                #{addressBookId,jdbcType=BIGINT},
                #{orderTime,jdbcType=TIMESTAMP}, #{checkoutTime,jdbcType=TIMESTAMP}, #{payMethod,jdbcType=INTEGER},
                #{payStatus,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{consignee,jdbcType=VARCHAR},
                #{estimatedDeliveryTime,jdbcType=TIMESTAMP}, #{deliveryStatus,jdbcType=INTEGER},
                #{packAmount,jdbcType=INTEGER}, #{tablewareNumber,jdbcType=INTEGER},
                #{tablewareStatus,jdbcType=INTEGER})
    </insert>

    <select id="getByNumberAndUserId" resultType="com.oit.entity.Orders">
        select *
        from orders
        where number = #{orderNumber,jdbcType=VARCHAR}
          and user_id = #{userId,jdbcType=BIGINT}
    </select>

    <update id="update" parameterType="Orders">
        update orders
        <set>
            <if test="cancelReason != null and cancelReason != ''.toString()">
                cancel_reason = #{cancelReason,jdbcType=VARCHAR},
            </if>
            <if test="rejectionReason != null and rejectionReason != ''.toString()">
                rejection_reason = #{rejectionReason,jdbcType=VARCHAR},
            </if>
            <if test="cancelTime != null">
                cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payStatus != null">
                pay_status = #{payStatus,jdbcType=INTEGER},
            </if>
            <if test="payMethod != null">
                pay_method = #{payMethod,jdbcType=INTEGER},
            </if>
            <if test="checkoutTime != null">
                checkout_time = #{checkoutTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="pageQuery" resultType="com.oit.entity.Orders">
        select *
        from orders
        <where>
            <if test="number != null and number != ''.toString()">
                and number like concat('%', #{number,jdbcType=VARCHAR}, '%')
            </if>
            <if test="phone != null and phone != ''.toString()">
                and phone like concat('%', #{phone,jdbcType=VARCHAR}, '%')
            </if>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="beginTime != null">
                and order_time &gt;= #{beginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                and order_time &lt;= #{endTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        order by order_time desc
    </select>

    <select id="getById" resultType="com.oit.entity.Orders">
        select *
        from orders
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="countStatus" resultType="java.lang.Integer">
        select count(id)
        from orders
        where status = #{status,jdbcType=INTEGER}
    </select>
</mapper>